@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Comfortaa:wght@400;700&family=Jura:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Podkova:wght@400;700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

body._active,
body._noscroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #021299;
}

h1 {
  margin: 0;
  font-size: 18px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  height: 50px;
  gap: 5px;
}

@media (max-width: 350px) {
  .nav-links {
    gap: 0;
  }
}

.nav-links .page-numbers {
  padding: 5px 10px;
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #021299;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

@media (max-width: 350px) {
  .nav-links .page-numbers {
    gap: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}

.nav-links .page-numbers + .page-numbers {
  margin-left: -2px;
}

.nav-links .page-numbers.current {
  background-color: #021299;
  padding-top: 4px;
  color: #f2f2f2;
}

.nav-links .page-numbers.dots {
  padding: 0;
  border: 0;
}

@media (max-width: 350px) {
  .nav-links .page-numbers.dots {
    margin-left: 2px;
    margin-right: 4px;
  }
}

@media (max-width: 550px) {
  .nav-links .page-numbers.prev {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav-links .page-numbers.next {
    display: none;
  }
}

.btn {
  display: block;
  padding: 10px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 20px;
  min-height: 20px;
  max-width: 100%;
  -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  padding-right: 40px;
  background: #021299 url("../img/icons/right-arrow.svg") no-repeat;
  background-position: -webkit-calc(100% - 10px) 50%;
  background-position: calc(100% - 10px) 50%;
  -webkit-background-size: 20px 20px;
          background-size: 20px;
}

.testimonial-btn {
  margin-left: auto;
}

.wrapper-inner {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper-logo {
  z-index: 3;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 767.9px) {
  .wrapper-logo {
    width: 200px;
  }
}

.fix {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 100%;
}

@media (max-width: 767.9px) {
  .fix img {
    width: 100%;
  }
}

.logo-text {
  font-size: 1.5625rem;
  margin-left: 10px;
  color: #021299;
  line-height: 2rem;
  white-space: normal;
  max-width: 21rem;
}

@media (max-width: 991.9px) {
  .logo-text {
    display: none;
  }
}

.t2 {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}

.wrapper-inner-header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 767.9px) {
  .wrapper-inner-header__top {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.wrapper-contacts-address {
  text-align: center;
  white-space: nowrap;
}

.wrapper-contacts-address--header {
  color: #000;
}

.wrapper-contacts-address--header br {
  display: none;
}

@media (max-width: 540px) {
  .wrapper-contacts-address--header .delete {
    display: none;
  }
}

@media (max-width: 420px) {
  .wrapper-contacts-address--header {
    display: block;
  }
  .wrapper-contacts-address--header br {
    display: block;
  }
  .wrapper-contacts-address--header span {
    display: none;
  }
}

.wrapper-contacts-address--footer {
  text-align: left;
  display: block;
  margin-top: 10px;
  color: #ddd;
  font-size: 14px;
}

.wrapper-contacts {
  z-index: 3;
  text-align: center;
  margin-left: auto;
  font-size: 16px;
}

@media (max-width: 767.9px) {
  .wrapper-contacts {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.wrapper-contacts .wrapper-contacts-address {
  color: #000;
}

.wrapper-contacts .wrapper-contacts-address br {
  display: none;
}

@media (max-width: 540px) {
  .wrapper-contacts .wrapper-contacts-address .delete {
    display: none;
  }
}

@media (max-width: 420px) {
  .wrapper-contacts .wrapper-contacts-address {
    display: block;
  }
  .wrapper-contacts .wrapper-contacts-address br {
    display: block;
  }
  .wrapper-contacts .wrapper-contacts-address span {
    display: none;
  }
}

.wrapper-contacts .wrapper-phones .phone {
  color: #b4094d;
}

.wrapper-contacts .wrapper-phones .phone + .phone {
  margin-top: 5px;
}

.wrapper-contacts-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 540px) {
  .wrapper-contacts-main {
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .wrapper-contacts-main {
    margin-top: 5px;
    margin-left: 10px;
  }
}

.wrapper-contacts-main__phones {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-contacts-main__socials {
  margin-left: 10px;
}

@media (max-width: 540px) {
  .wrapper-contacts-main__socials {
    display: none;
  }
}

.wrapper-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-socials .socials-item {
  font-size: 0;
  margin: 2.5px;
}

.wrapper-socials .socials-item img {
  width: 34px;
  height: 34px;
}

@media (max-width: 800px) {
  .wrapper-socials--footer .socials-item img {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 380px) {
  .wrapper-socials--footer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials-title {
  text-align: center;
  color: #b4094d;
  font-weight: bold;
  line-height: 1.4em;
}

.phones-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

@media (max-width: 420px) {
  .phones-icon {
    display: none;
  }
}

.wrapper-phones .phone {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 767.9px) {
  .wrapper-phones .phone {
    font-size: 16px;
  }
}

.wrapper-phones--header .phone {
  color: #b4094d;
}

.wrapper-phones--header .phone + .phone {
  margin-top: 5px;
}

.wrapper-phones--footer {
  margin-top: 10px;
}

.wrapper-phones--footer .phone {
  color: #ddd;
  font-size: 16px;
}

@media (max-width: 767.9px) {
  .wrapper-phones--footer .phone {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .wrapper-phones--footer .phone {
    margin: 0 auto;
  }
}

.wrapper-phones--footer .phone + .phone {
  margin-top: 5px;
}

.top-menu {
  text-align: left;
  padding: 0 10px;
}

@media (max-width: 767.9px) {
  .top-menu {
    display: none;
  }
}

.top-menu a {
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.top-menu a:hover {
  text-decoration: none;
}

@media (min-width: 767.9px) {
  .top-menu a.main-menu__item-link--active {
    background-color: transparent;
  }
}

._dynamic_adapt_.top-menu {
  display: block;
  text-align: left;
  padding: 0;
}

._dynamic_adapt_.top-menu a {
  margin-left: 0;
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #fff;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

._dynamic_adapt_.top-menu a:hover {
  background-color: #031be5;
}

.wrapper-inner-header__bottom {
  z-index: 6;
  background: #021299;
}

.main-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__icon {
  z-index: 5;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 767.9px) {
  .main-menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 28px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 5px;
  }
  .main-menu__icon span {
    -webkit-transition: 0.2s ease 0s;
    -o-transition: 0.2s ease 0s;
    transition: 0.2s ease 0s;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .main-menu__icon span:first-child {
    top: 5px;
  }
  .main-menu__icon span:last-child {
    top: auto;
    bottom: 5px;
  }
  .main-menu__icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .main-menu__icon._active span:first-child {
    -webkit-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
            transform: translateX(5px) rotate(-45deg);
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    width: 20px;
  }
  .main-menu__icon._active span:last-child {
    -webkit-transform: translateX(5px) rotate(45deg);
        -ms-transform: translateX(5px) rotate(45deg);
            transform: translateX(5px) rotate(45deg);
    bottom: -webkit-calc(50% - 1px);
    bottom: calc(50% - 1px);
    width: 20px;
  }
}

@media (max-width: 767.9px) {
  .main-menu__body {
    opacity: 0;
    -webkit-transition: opacity 0s ease 0s;
    -o-transition: opacity 0s ease 0s;
    transition: opacity 0s ease 0s;
    position: fixed;
    width: 100%;
    left: 0;
    overflow: auto;
    z-index: 2;
    visibility: hidden;
    padding: 0px 10px 10px 10px;
    background-color: #021299;
  }
  .main-menu__body._active {
    opacity: 1;
    visibility: visible;
  }
}

.main-menu__list {
  list-style: none;
}

@media (max-width: 767.9px) {
  .main-menu__list {
    display: block;
  }
}

.main-menu__item {
  border-left: 1px solid #fff;
}

@media (max-width: 767.9px) {
  .main-menu__item {
    display: block;
  }
}

@media (min-width: 767.9px) {
  .main-menu__item:first-child {
    border-left: none;
  }
}

.main-menu__item-link {
  height: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-menu__item-link span {
  display: block;
  font-size: 13px;
  word-wrap: none;
  font-weight: normal;
  color: #ddd;
}

@media (max-width: 910px) {
  .main-menu__item-link span {
    display: none;
  }
}

@media (max-width: 767.9px) {
  .main-menu__item-link span {
    display: block;
  }
}

.main-menu__item-link:hover, .main-menu__item-link--active {
  background-color: #031be5;
}

@media (max-width: 1030px) {
  .main-menu__item-link {
    padding: 10px;
  }
}

.wrapper-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.is-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.is-screen-reader-text {
  font-size: 0;
}

.is-search-icon {
  display: none;
}

.widget_search,
.search-form {
  z-index: 3;
  margin-left: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}

.is-search-form,
.search-form {
  max-width: 300px;
}

.is-search-input,
.search-form__input {
  width: 100%;
  height: 32px;
  padding-left: 10px;
  border: none;
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  background: #d8d8d8;
  color: #111;
}

.is-search-submit,
.search-form__button {
  width: 36px;
  height: 32px;
  border: none;
  -webkit-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
  background: #7ba7ab url("../img/search.png") no-repeat 4px 4px;
  cursor: pointer;
}

.wrapper-inner-slider {
  padding: 20px 0;
}

@media (max-width: 767.9px) {
  .wrapper-inner-slider {
    padding: 10px 0;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 395px;
  overflow: hidden;
}

@media (max-width: 767.9px) {
  .slider {
    height: 395px;
  }
}

.slider__arrow {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 1;
  width: 70px;
  background: transparent;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 400px) {
  .slider__arrow {
    width: 60px;
  }
}

.slider__arrow._active .slider__arrow-wrapper {
  opacity: 1;
}

.slider__arrow.animation {
  -webkit-animation: disappear 0.4s;
          animation: disappear 0.4s;
}

@-webkit-keyframes disappear {
  from {
    background-color: rgba(123, 167, 171, 0.5);
  }
  to {
    background-color: transparent;
  }
}

@keyframes disappear {
  from {
    background-color: rgba(123, 167, 171, 0.5);
  }
  to {
    background-color: transparent;
  }
}

@media (max-width: 767.9px) {
  .slider__arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider__arrow-left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0px;
}

.slider__arrow-right {
  right: 0px;
}

.slider__arrow-wrapper {
  background-color: #7ba7ab;
  border: 2px solid #fff;
  opacity: 0.2;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 8px;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .slider__arrow-wrapper {
    width: 40px;
    height: 40px;
    padding: 6px;
  }
}

.slider__arrow-wrapper i {
  width: 100%;
  height: 100%;
  display: block;
  background: url("../img/icons/chevron.svg") 2px no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.slider__item {
  cursor: pointer;
  position: absolute;
  width: 60%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition: width 0;
  -o-transition: width 0;
  transition: width 0;
  -webkit-tap-highlight-color: transparent;
  background-color: #5ab3d6;
}

@media (max-width: 767.9px) {
  .slider__item {
    width: 100%;
    -webkit-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
  }
}

.slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 500px) {
  .slider__item img {
    height: 70%;
  }
}

@media (max-width: 400px) {
  .slider__item img {
    height: 65%;
  }
}

.slider__item._active .slider__item-title {
  width: 100%;
}

.slider__item._active .slider__item-description {
  opacity: 1;
}

.slider__item._active .slider__item-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slider__item._active .slider__item-button.hidden {
  display: none;
}

.slider__item.transition-none {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.slider__item:first-child {
  border: none;
}

.slider__item:only-child {
  left: 50% !important;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 702px;
}

@media (max-width: 767.9px) {
  .slider__item:only-child {
    width: 100%;
  }
}

.slider__item + .slider__item {
  border-left: 1px solid #fff;
}

.slider__item-text-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #021299;
  opacity: 0.9;
  color: #fff;
  height: 25%;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1190px) {
  .slider__item-text-wrapper {
    padding-top: 10px;
  }
}

@media (max-width: 1140px) {
  .slider__item-text-wrapper {
    padding: 10px;
    height: 28%;
  }
}

@media (max-width: 940px) {
  .slider__item-text-wrapper {
    padding: 10px;
  }
}

@media (max-width: 767.9px) {
  .slider__item-text-wrapper {
    height: 25%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .slider__item-text-wrapper {
    height: 30%;
  }
}

@media (max-width: 400px) {
  .slider__item-text-wrapper {
    padding: 10px;
    height: 35%;
  }
}

.slider__item-title {
  margin-bottom: 10px;
  font-size: 16px;
}

@media (max-width: 900px) {
  .slider__item-title {
    font-size: 1.8vw;
  }
}

@media (max-width: 767.9px) {
  .slider__item-title {
    font-size: 16px;
  }
}

.slider__item-description {
  font-size: 14px;
  opacity: 0;
}

@media (max-width: 767.9px) {
  .slider__item-description {
    opacity: 1;
  }
}

.slider__item-button {
  display: none;
  position: absolute;
  left: 10px;
  padding: 10px 15px;
  max-width: -webkit-calc(100% - 20px);
  max-width: calc(100% - 20px);
  background-color: #021299;
  -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
  border: 2px solid #fff;
  opacity: 0.8;
  bottom: -webkit-calc(25% + 10px);
  bottom: calc(25% + 10px);
  color: #fff;
  font-weight: bold;
}

.slider__item-button i {
  display: block;
  min-width: 20px;
  min-height: 20px;
  background: url("../img/icons/right-arrow.svg") no-repeat;
  margin: auto;
  margin-left: 15px;
}

@media (max-width: 500px) {
  .slider__item-button i {
    margin-left: 8px;
  }
}

@media (max-width: 1140px) {
  .slider__item-button {
    left: 5px;
    bottom: -webkit-calc(28% + 5px);
    bottom: calc(28% + 5px);
    max-width: -webkit-calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}

@media (max-width: 940px) {
  .slider__item-button {
    left: 5px;
  }
}

@media (max-width: 767.9px) {
  .slider__item-button {
    left: 70px;
    bottom: -webkit-calc(25% + 5px);
    bottom: calc(25% + 5px);
    max-width: -webkit-calc(100% - 140px);
    max-width: calc(100% - 140px);
  }
}

@media (max-width: 500px) {
  .slider__item-button {
    bottom: -webkit-calc(30% + 5px);
    bottom: calc(30% + 5px);
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .slider__item-button {
    left: 60px;
    bottom: -webkit-calc(35% + 5px);
    bottom: calc(35% + 5px);
    max-width: -webkit-calc(100% - 120px);
    max-width: calc(100% - 120px);
  }
}

.slider__nav {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 767.9px) {
  .slider__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider__nav div {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #021299;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin: 10px 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.slider__nav div:only-child {
  display: none;
}

.slider__nav div + div {
  margin-left: 10px;
}

.slider__nav div._active {
  background-color: #7ba7ab;
}

.wrapper-inner-mainframe {
  background: #f2f2f2;
}

.mainframe-wrapper-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 767.9px) {
  .mainframe-wrapper-inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.mainframe-wrapper-inner p {
  margin: 15px 0;
}

.mainframe__sidebar {
  max-width: 260px;
  min-width: 250px;
  text-align: center;
}

@media (max-width: 767.9px) {
  .mainframe__sidebar {
    min-width: 33%;
  }
}

@media (max-width: 767.9px) {
  .mainframe__sidebar {
    min-width: 0px;
    width: 0px;
    height: 0px;
  }
}

.mainframe__sidebar hr {
  height: 3px;
  background-color: #ccc;
  border: none;
  margin: 0 auto;
}

.sidebar-banners {
  margin: 0px 0px 20px 0px;
}

.sidebar-banners hr:last-child {
  display: none;
}

.sidebar-banners hr {
  display: none;
}

.sidebar-banners__item {
  display: block;
  margin: 5px 0;
}

.sidebar-banners__item + hr:last-child {
  display: none;
}

.sidebar-banners__item img {
  max-width: 100%;
}

.sidebar-banners__item:first-child {
  margin-top: 0;
}

.sidebar-banners__item:last-child {
  margin-bottom: 0;
}

._dynamic_adapt_.sidebar-banners {
  margin: 15px 0px 0px 0px;
}

._dynamic_adapt_.sidebar-banners hr {
  display: none;
}

._dynamic_adapt_.sidebar-banners .sidebar-banners__item {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  margin: 15px auto 0px auto;
}

._dynamic_adapt_.sidebar-banners .sidebar-banners__item:first-child {
  margin-top: 0;
}

._dynamic_adapt_.sidebar-banners .sidebar-banners__item img {
  display: block;
  -webkit-box-shadow: 0px 0px 5px 5px #ccc;
          box-shadow: 0px 0px 5px 5px #ccc;
  background-color: #ccc;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}

.last_news {
  text-align: center;
}

.last_news-title {
  margin-bottom: 15px;
}

@media (max-width: 767.9px) {
  .last_news-title {
    font-size: 25px;
    margin-top: 30px;
  }
}

.last_news-wrapper-inner hr {
  clear: both;
}

.last_news-wrapper-inner hr:last-child {
  display: none;
}

.last_news__item {
  font-size: 15px;
  margin: 10px 0;
  text-align: left;
  clear: both;
}

@media (max-width: 700px) {
  .last_news__item {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .last_news__item {
    text-align: left;
  }
}

.last_news__item:first-child {
  margin-top: 0;
}

.last_news__item:last-child {
  margin-bottom: 0;
}

.last_news__item-image-wrapper {
  display: block;
  float: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0px;
  outline: 2px #ccc solid;
  margin: 7px 10px 5px 2px;
}

.last_news__item-image-wrapper img.attachment-thumbnail {
  margin: 0 !important;
}

@media (max-width: 600px) {
  .last_news__item-image-wrapper {
    float: left;
    margin: 7px 10px 35px 2px;
  }
}

@media (max-width: 400px) {
  .last_news__item-image-wrapper {
    float: left;
    margin: 7px 10px 10px 2px;
  }
}

.last_news__item-title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.last_news__item-title:hover {
  text-decoration: none;
}

.last_news__item-description {
  margin: 10px 0;
}

@media (max-width: 700px) {
  .last_news__item-description {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .last_news__item-description {
    clear: left;
  }
}

.last_news__item-more {
  float: left;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .last_news__item-more {
    float: right;
    margin-right: 40px;
    margin-bottom: 5px;
  }
}

.mainframe__content {
  width: -webkit-calc(100% - 250px);
  width: calc(100% - 250px);
  padding: 0px 10px 0px 20px;
}

@media (max-width: 767.9px) {
  .mainframe__content {
    padding: 0px 0px 0px 0px;
    width: 100%;
  }
}

.mainframe__content img:not(.news__item_image) {
  max-width: 100%;
  max-height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainframe__content p:not(.news__title) {
  text-align: left;
  line-height: 1.5;
}

@media (max-width: 767.9px) {
  .mainframe__content p:not(.news__title) {
    text-align: left;
  }
}

.mainframe__content p:not(.news__title) img {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainframe__content p > a {
  word-break: break-word;
}

.mainframe__content span {
  line-height: 1.2;
}

.mainframe__content ol,
.mainframe__content ul {
  padding: 0 30px;
}

.mainframe__content ol li + li,
.mainframe__content ul li + li {
  margin-top: 5px;
}

.mainframe__content table {
  max-width: 100%;
}

.mainframe__content table p {
  margin: 0;
}

.mainframe__content table td {
  padding: 10px;
}

@media (max-width: 1000px) {
  .mainframe__content table td {
    word-break: break-word;
  }
}

.page__title {
  font-size: 30px;
  margin: 10px 0 10px 10px;
}

@media (max-width: 1030px) {
  .page__title {
    font-size: 25px;
  }
}

@media (max-width: 767.9px) {
  .page__title {
    text-align: center;
  }
}

.page-title {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.wrapper-inner-footer {
  background-color: #232323;
}

.testimonials {
  margin-bottom: 30px;
}

.testimonials .testimonial {
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px 10px 30px 10px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
          box-shadow: 0 0 10px #bdbdbd;
  position: relative;
}

.testimonials .testimonial:last-child {
  margin-bottom: 0px;
}

.testimonials .testimonial h3 {
  background: url("../img/icons/left-quote.svg") no-repeat 0 50%;
  -webkit-background-size: 22px 22px;
          background-size: 22px;
  padding-left: 30px;
}

.testimonials .testimonial .testimonial-field {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.testimonials .testimonial .readmore-toggle {
  font-size: 0px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7ba7ab;
  border: 2px solid #021299;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.testimonials .testimonial .readmore-toggle span {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url(../img/icons/right-arrow-blue.svg) no-repeat -webkit-calc(50% + 1px) 50%;
  background: url(../img/icons/right-arrow-blue.svg) no-repeat calc(50% + 1px) 50%;
  -webkit-background-size: -webkit-calc(100% - 14px);
          background-size: calc(100% - 14px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.testimonials .testimonial .readmore-toggle[aria-expanded="false"] {
  -webkit-transform: translate(-50%, 50%) rotate(90deg);
      -ms-transform: translate(-50%, 50%) rotate(90deg);
          transform: translate(-50%, 50%) rotate(90deg);
}

.testimonials .testimonial .readmore-toggle[aria-expanded="true"] {
  -webkit-transform: translate(-50%, 50%) rotate(-90deg);
      -ms-transform: translate(-50%, 50%) rotate(-90deg);
          transform: translate(-50%, 50%) rotate(-90deg);
}

.footer__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: normal;
  height: 2.5rem;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #bdbdbd;
  margin-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
  overflow: hidden;
}

@media (max-width: 480px) {
  .footer__heading {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 480px) {
  .footer__column {
    width: 17rem;
  }
}

.footer__column:first-child {
  min-width: 16rem;
}

.footer__column:last-child {
  min-width: 17rem;
  max-width: 17rem;
}

.footer__column a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  color: #ddd;
}

.footer__column a:hover {
  text-decoration: underline;
}

.footer__column a.phone:hover {
  text-decoration: none;
}

@media (max-width: 480px) {
  .footer__column div > li {
    padding: 0 20px;
  }
}

.footer__column li {
  list-style-type: none;
}

.footer__column li + li {
  margin-top: 10px;
}

.footer__column .wrapper-contacts-address {
  text-align: left;
  display: block;
  color: #ddd;
  font-size: 14px;
  margin-left: 5px;
}

.footer__column .phones-icon {
  display: none;
}

.footer__column .wrapper-phones {
  margin-top: 10px;
  margin-left: 5px;
}

.footer__column .wrapper-phones .phone {
  color: #ddd;
  font-size: 16px;
}

@media (max-width: 767.9px) {
  .footer__column .wrapper-phones .phone {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer__column .wrapper-phones .phone {
    margin: 0 auto;
  }
}

.footer__column .wrapper-phones .phone + .phone {
  margin-top: 5px;
}

@media (max-width: 480px) {
  .footer__column .widget {
    padding: 0 20px;
  }
}

.footer-column-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media (max-width: 480px) {
  .footer-column-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-column-wrapper__links-column + .footer-column-wrapper__links-column {
  margin-left: 5px;
}

@media (max-width: 767.9px) {
  .footer-column-wrapper__links-column {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-align-last: left;
  }
  .footer-column-wrapper__links-column-about {
    margin-left: 20%;
  }
  .footer-column-wrapper__links-column-socials {
    margin-right: 20%;
  }
}

@media (max-width: 520px) {
  .footer-column-wrapper__links-column {
    width: 160.44px;
    margin-top: 5px;
  }
  .footer-column-wrapper__links-column + .footer-column-wrapper__links-column {
    margin-left: auto;
  }
  .footer-column-wrapper__links-column-about {
    margin-left: auto;
  }
  .footer-column-wrapper__links-column-socials {
    margin-right: auto;
  }
}

@media (max-width: 380px) {
  .footer-column-wrapper__links-column {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-column-wrapper__links-column-main .footer__heading {
    height: 3.5rem;
  }
}

.footer-column-wrapper__item + .footer-column-wrapper__item {
  margin-top: 10px;
}

@media (max-width: 767.9px) {
  .footer-column-wrapper__item + .footer-column-wrapper__item {
    margin-top: 5px;
  }
}

.footer-column-wrapper__link {
  font-size: 14px;
  color: #ddd;
}

.footer-column-wrapper__link:hover {
  text-decoration: underline;
}

.wrapper-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.gallery__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 220px;
  height: 175px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff;
}

.gallery__item:hover {
  -webkit-box-shadow: 0px 0px 10px 1px #bbbbbb;
          box-shadow: 0px 0px 10px 1px #bbbbbb;
}

@media (max-width: 1060px) {
  .gallery__item {
    width: 220px;
  }
}

@media (max-width: 767.9px) {
  .gallery__item {
    width: 185px;
  }
}

@media (max-width: 600px) {
  .gallery__item {
    width: 190px;
  }
}

.gallery__link {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: block;
}

.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.hystmodal__shadow {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  background-color: black;
}

.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}

.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 99;
  visibility: hidden;
}

.hystmodal--active {
  opacity: 1;
}

.hystmodal--moved,
.hystmodal--active {
  pointer-events: auto;
  visibility: visible;
}

.hystmodal__wrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hystmodal__window {
  margin: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  max-width: 100%;
  overflow: visible;
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
}

.hystmodal--active .hystmodal__window {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.hystmodal__close-wrapper {
  position: absolute;
  z-index: 10;
  top: 0px;
  padding: 5px;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
}

.hystmodal__close-wrapper-in {
  right: 0px;
}

.hystmodal__close-wrapper-in .hystmodal__close {
  background-image: url("/img/icons/close-dark.svg");
}

.hystmodal__close-wrapper-out {
  left: 100%;
  background-color: transparent;
  padding: 10px;
}

@media (max-width: 500px) {
  .hystmodal__close-wrapper-out {
    left: auto;
    right: 0px;
    background-color: #fff;
    padding: 7px;
  }
}

.hystmodal__close {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M22 2L2 22'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M2 2l20 20'/%3E%3C/svg%3E");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}

.hystmodal__close:focus {
  outline: 2px dotted #afb3b9;
  outline-offset: 2px;
}

.hystmodal__image-wrapper {
  max-width: 100%;
  background-color: #fff;
  padding: 5px;
}

.hystmodal__image {
  max-width: 100%;
  display: block;
}

.wrapper-news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}

.news__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 220px;
}

.news__item p {
  color: #000;
  font-size: 17px;
  text-align: left;
  margin: 10px 5px 15px 5px;
  max-height: -webkit-calc(5 * 1.15em);
  max-height: calc(5 * 1.15em);
  overflow: hidden;
}

.news__item:hover {
  -webkit-box-shadow: 0px 0px 10px 1px #bbbbbb;
          box-shadow: 0px 0px 10px 1px #bbbbbb;
}

@media (max-width: 1060px) {
  .news__item {
    width: 220px;
  }
}

@media (max-width: 767.9px) {
  .news__item {
    width: 185px;
  }
}

@media (max-width: 600px) {
  .news__item {
    width: 190px;
  }
}

.news__item_link {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: block;
  padding-bottom: 10px;
}

.news__item_image {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__item_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: bottom;
}

.news__item_info-views {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news__item_info time,
.news__item_info span {
  font-size: 14px;
  color: #575757;
}

.news__item_info i {
  display: block;
  content: "";
  background: url("../img/news/eye-dark.svg") no-repeat 50%/cover;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.news__item_info span {
  margin-right: 5px;
}

.news__item_info time {
  margin-left: 5px;
}
